---
- hosts: all
  become: true
  vars:
    ansible_python_interpreter: /usr/bin/python3
    username: haris # TODO: Configure
    user_groups:
      - wheel
      - docker

  pre_tasks:
    - name: Update package cache
      pacman:
        update_cache: yes
      changed_when: false

  tasks:
    - name: Install base admin packages
      pacman:
        name:
          - base-devel
          - git
          - rsync
          - neovim
          - fish
          # TODO for another time: Use rootless
          - docker
          - python
          - python-pip
        state: present
        force: yes  # Force installation to resolve conflicts

    - name: Ensure docker service is started and enabled
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Add user to docker group
      user:
        name: "{{ username }}"
        groups: docker
        append: yes

    - name: Bootstrap dotfiles
      become_user: "{{ username }}"
      shell: curl -L veracioux.me/dotfiles/bootstrap.sh | bash

    # Set up paru
    - tags: paru-setup
      block:
      - name: Gather installed package facts
        package_facts:
      - name: Install rustup
        when: "'paru' not in ansible_facts.packages"
        pacman:
          name:
            - rustup
          state: present
      - name: Get current rust default toolchain
        when: "'paru' not in ansible_facts.packages"
        command: rustup show active-toolchain
        register: rust_toolchain
        changed_when: false
        failed_when: false
        become_user: "{{ username }}"
      - name: Set rust toolchain to stable if needed
        when: "'paru' not in ansible_facts.packages and 'stable' not in rust_toolchain.stdout"
        ansible.builtin.command: rustup default stable
        become_user: "{{ username }}"
      - name: Clone paru repository
        when: "'paru' not in ansible_facts.packages"
        git:
          repo: https://aur.archlinux.org/paru.git
          dest: /tmp/paru-clone
          version: 329be2113c590046cb29858c23d9b96a8d7bd586
          force: true
        become_user: "{{ username }}"
        changed_when: false
      - name: Create paru package
        when: "'paru' not in ansible_facts.packages"
        shell: cd /tmp/paru-clone && makepkg
        changed_when: false
        become_user: "{{ username }}"
      - name: Install paru
        when: "'paru' not in ansible_facts.packages"
        shell: pacman -U --noconfirm /tmp/paru-clone/paru-2.*.pkg.tar.zst
        changed_when: true
      - name: Delete paru-clone
        when: "'paru' not in ansible_facts.packages"
        command: rm -rf /tmp/paru-clone
        changed_when: false

    - name: Install desktop environment
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          # X11
          - xorg
          - xorg-xinit
          - xorg-xinput
          - xorg-xsetroot
          - xorg-xprop
          - xorg-xev
          - xorg-xwininfo
          - xorg-xbacklight
          - xorg-xmodmap
          - xorg-xrdb
          - xorg-xrandr
          # Window management
          - i3-wm
          - i3status
          - autotiling
          - sxhkd
          - dunst
          - picom
          - redshift
          - xclip
          - xsel
          - dmenu-height
          - feh
          - brightnessctl
          - bluez
          - bluez-utils
          # Sound
          - pavucontrol
          - pulseaudio-alsa
          - pipewire
          - pipewire-pulse
          - alsa-utils
          # Misc
          - xss-lock
          - xsecurelock
          - xprintidle
          - xdotool
        state: present

    - name: Install basic user packages
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - emacs
          - fisher
          - visual-studio-code-bin
          - google-chrome
          - firefox
          - firefox-tridactyl
          - alacritty
        use: paru
        state: present

    - name: Install tools and utilities
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - nodejs
          - npm
          - go
          - ipython
          - python-pip
          - fd
          - ripgrep
          - fzf
          - bat
          - tmux
          - libnotify
          - jq
          - yq
          - dust
          - duf
          - tldr
          - cloc
          - scc
          - tree
          - glow
          - gdu
          - pinentry
          - cronie
          - at
          - dash
          - lsd
          - screen
          - sshpass
        use: paru
        state: present

    - name: Install Emacs ecosystem packages
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - aspell
          - aspell-en
          - aspell-de
          - aspell-es
          - enchant
          - hunspell-en_us
        use: paru
        state: present

    - name: Install password management and security
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - pass
          - pass-otp
          - passmenu-otp-git
          - gnome-keyring
          - openssh
        use: paru
        state: present

    - name: Install file management and archives
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - atool
          - unzip
          - unrar
          - 7zip
          - fuse2
          - sshfs
          - rclone
          - bindfs
          - dragon-drop
        use: paru
        state: present

    - name: Install media and graphics
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - mpv
          - zathura
          - zathura-pdf-poppler
          - imagemagick
          - flameshot-git
          - peek
          - gimp
          - inkscape
          - vimiv
          - pandoc-cli
        use: paru
        state: present

    - name: Install system monitoring tools
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - htop
          - lsof
          - strace
          - powertop
          - tlp
          - acpi
          - lshw
          - dmidecode
          - hwinfo
          - mesa-utils
          - radeontop # Depends on Laptop (TODO: decide)
          - glmark2 # Depends on Laptop (TODO: decide)
        use: paru
        state: present

    - name: Install networking tools
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - nmap
          - net-tools
          - bind
          - whois
          - curl
          - wget
          - httpie
          - socat
          - websocat
          - tcpdump
          - ngrep
          - openvpn
          - wireguard-tools
          - tailscale
          - ngrok
        use: paru
        state: present

    - name: Install browsing and internet tools
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - buku-git
          - bukubrow
          - translate-shell # TODO remove
          - yt-dlp
        use: paru
        state: present

    - tags: dev-tools
      block:
        - name: Install development tools and compilers
          become_user: "{{ username }}"
          kewlfft.aur.aur:
            name:
              - ansible
              - aws-cli-v2
              - cmake
              - docker-buildx
              - docker-compose
              - docker-credential-pass
              - gdb
              - git-extras
              - github-cli
              - lldb
              - nginx
              - podman
              - pre-commit
              - terraform
              - vagrant
              - virtualbox
            use: paru
            state: present

        - name: Install Python development tools
          become_user: "{{ username }}"
          kewlfft.aur.aur:
            name:
              - python-pipenv
              - python-pdm
              - python-poetry
              - python-virtualenvwrapper
              - python-lsp-server
              - python-pylint
              - python-black
              - python-mypy
              - python-flake8
              - python-pytest
              - python-playwright
              - python-websockets
              - python-sphinx
              - python-antlr4
              - ruff
              - pyright
              - bpython
              - pypy3
            use: paru
            state: present

        - name: Install Node.js development tools
          become_user: "{{ username }}"
          kewlfft.aur.aur:
            name:
              - pnpm
              - yarn-berry
              - typescript
              - ts-node
              - prettier
            use: paru
            state: present

    - name: Install fonts and theming
      become_user: "{{ username }}"
      kewlfft.aur.aur:
        name:
          - adobe-source-code-pro-fonts
          - ttf-ubuntu-font-family
          - noto-fonts-cjk
          - ttf-font-awesome
          - otf-font-awesome
          - awesome-terminal-fonts
          - breeze-icons
          - dracula-gtk-theme
        use: paru
        state: present

    - name: Enable system services
      become: true
      systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
      loop:
        - cronie
        - tlp
        - bluetooth
        - pipewire
        - pipewire-pulse

    - tags: configure-user
      block:
        - name: Clone dotfiles repository
          git:
            repo: https://github.com/veracioux/dotfiles
            dest: /home/{{ username }}/.haris
            version: master
            force: true
          become_user: "{{ username }}"
        - name: Set dotfiles pushurl to SSH
          command:
            cmd: git remote set-url --push origin git@github.com:veracioux/dotfiles
            chdir: /home/{{ username }}/.haris
          become_user: "{{ username }}"
          changed_when: false
        - name: Clone spacemacs repository
          git:
            repo: https://github.com/veracioux/spacemacs
            dest: /home/{{ username }}/.emacs.d
            version: haris/main
          become_user: "{{ username }}"
        - name: Set spacemacs pushurl to SSH
          command:
            cmd: git remote set-url --push origin git@github.com:veracioux/spacemacs
            chdir: /home/{{ username }}/.emacs.d
          become_user: "{{ username }}"
          changed_when: false
        - name: Tangle dotfiles
          command: "/home/{{ username }}/.haris/bootstrap/tangle-all.sh"
        - name: Collect installed vscode extensions
          shell: code --list-extensions | sort | uniq
          register: vscode_extensions_installed
          changed_when: false
        - name: Collect desired vscode extensions
          shell: cat extensions.txt | cut -f1 -d@
          args:
            chdir: "/home/{{ username }}/.haris/vscode"
          register: vscode_extensions_desired
          changed_when: false
        - name: Set up vscode
          shell: head grep -v '@99\.' <extensions.txt | xargs -n 1 code --install-extension
          when: vscode_extensions_installed.stdout != vscode_extensions_desired.stdout
          args:
            chdir: "/home/{{ username }}/.haris/vscode"
        - name: Set up fish
          command: fish -c 'fisher update'

      become_user: "{{ username }}"
