[user]
	email = harisgusic.dev@gmail.com
	name = Haris Gušić
	signingkey = 0348E6D2D1D44A6D
[alias]
	doglog = log --graph --decorate --oneline
	whenadded = log --diff-filter=A
    i = init
	s = status
	c = commit -s
	l = doglog
    p = push
    b = branch
    po = push origin
	pom = push origin master
    pa = push all
	pam = push all master
    ppo = pull origin
    ppom = pull origin master
    co = checkout
    com = checkout master
	tweak = commit --amend --no-edit
[core]
	autocrlf = input
	pager = less -F -X
	editor = vim
[commit]
	gpgsign = true
