[user]
	email = harisgusic.dev@gmail.com
	name = Haris Gušić
[alias]
	doglog = log --graph --decorate --oneline
	whenadded = log --diff-filter=A
    i = init
	s = status
	c = commit
	l = doglog
    po = push origin
	tweak = commit --amend --no-edit
	pom = push origin master
	pam = push all master
    cm = checkout master
    co = checkout
[core]
	autocrlf = input
	pager = less -F -X
	editor = vim
