/*Fix right-click bug*/
#contentAreaContextMenu{ margin: 2px 0 0 2px }

/* Title bar settings */

#titlebar {
  height: 20px;
}

.private-browsing-indicator {
  scale: 50%;
  transform: translateX(15px) translateY(-14px);
}

#tabbrowser-tabs {
  min-height: 0px
}

#tabbrowser-arrowscrollbox, #scrollbutton-up, #scrollbutton-down,
#tabs-newtab-button, #new-tab-button,
.tabbrowser-tab, .tab-background, .tab-stack
{
  min-height: 0px;
  max-height: 20px;
}

#tabs-newtab-button, #new-tab-button { visibility: collapse !important }

/* Tab settings */

.tabbrowser-tab {
  font-size: 0.8em;
  min-width: 0px;
  padding: 0px;
}

.tab-line {
  height: 0.5px;
}

.tab-content {
  min-height: 0px;
  max-height: 20px;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.tab-icon-image {
  scale: 60%;
  transform: translateY(-2px);
}

.tab-close-button {
  scale: 80% 95%;
  transform: translateY(-1px);
}

/* Toolbar */

#nav-bar {
  min-height: 0px;
  max-height: 14px;
}

#navigator-toolbox {
	min-height: 0px;
	max-height: 35px;
}

#downloads-button, #library-button, #sidebar-button, #PanelUI-button,
#back-button, #forward-button, .webextension-browser-action {
  scale: 45%;
  transform: translateX(70px) translateY(-15px);
}

/*#back-button, #forward-button { scale: 0 }*/

#PanelUI-menu-button {
  transform: translateX(-50px);
}

/* Remove search bar completely */
#urlbar-container {
	scale: 0;
}

