#navigator-toolbox:not(:hover) #nav-bar {
    min-height: 0 !important;
    max-height: 0 !important;
}

#navigator-toolbox:not(:hover) #urlbar-container {
    visibility: collapse;
}

/*
 * A bit convoluted way of hiding the toolbar buttons when the navigator is
 * collapsed. Simpler methods I've tried also hide the extension menu that
 * should pop up when I press it's keyboard shortcut, so this one is the winner.
 */
#navigator-toolbox:not(:hover) .toolbarbutton-badge-stack > * {
    display: none;
}

#titlebar {
  max-height: 20px !important;
}

#tabbrowser-arrowscrollbox, #scrollbutton-up, #scrollbutton-down,
#tabs-newtab-button, #new-tab-button, #alltabs-button,
.tabbrowser-tab, .tab-background, .tab-stack, .tab-background
{
    min-height: 0 !important;
    max-height: 20px !important;
    margin: 0px !important;
}

#new-tab-button, #tabs-newtab-button {
  visibility: collapse !important;
}

#alltabs-button {
  transform: scale(0.8);
  padding: 0 !important;
}

.toolbarbutton-badge-stack {
  padding: 0 !important;
}

.tabbrowser-tab {
    padding: 0;
    font-size: 11px;
}

/* Color variables are defined in my custom tridactyl theme. */

a {
 color: var(--mycolor-brblue);
}

a:visited {
  color: var(--mycolor-brmagenta);
}
