@import "/home/haris/.mozilla/firefox/common/chrome/userChrome.css";
/* ┏━━━━━━━━━━━━━━━━━━━━┓
   ┃ Title bar settings ┃
   ┗━━━━━━━━━━━━━━━━━━━━┛ */

#titlebar {
    height: 20px;
}

.private-browsing-indicator {
    scale: 50%;
    transform: translateX(15px) translateY(-14px);
}

#tabbrowser-tabs {
    min-height: 0px
}

#tabbrowser-arrowscrollbox, #scrollbutton-up, #scrollbutton-down,
#tabs-newtab-button, #new-tab-button,
.tabbrowser-tab, .tab-background, .tab-stack
{
    min-height: 0px;
    max-height: 20px;
    margin: 0px !important;
    z-index: 0 !important;
}

#tabs-newtab-button, #new-tab-button { visibility: collapse !important }

/* ┏━━━━━━━━━━━━━━┓
   ┃ Tab settings ┃
   ┗━━━━━━━━━━━━━━┛ */

.tabbrowser-tab {
    translate: 0px 0px !important;
    padding: 0px;
    font-size: 0.8em;
}

/* .tab-line {
    height: 0.5px;
} */

.tab-content {
    min-height: 0px;
    max-height: 20px;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

.tab-icon-image {
    scale: 60%;
    transform: translateY(-2px);
}

.tab-close-button {
    scale: 80% 95%;
    transform: translateY(-1px);
}

/* ┏━━━━━━━━━┓
   ┃ Toolbar ┃
   ┗━━━━━━━━━┛ */

#nav-bar {
    min-height: 0px;
    max-height: 0px; /* was 14px */
}

#navigator-toolbox {
    min-height: 0px;
    max-height: 22px; /* was 35px */
}

#downloads-button, #library-button, #sidebar-button, #PanelUI-button,
#back-button, #forward-button, .webextension-browser-action {
    scale: 0%; /* was 45% */
    transform: translateX(70px) translateY(-15px);
}

#PanelUI-menu-button {
    transform: translateX(-50px);
}

/* Remove search bar completely */
#urlbar-container {
    scale: 0;
}

