/* ┏━━━━━━━━━━━━━━━━━━━┓
   ┃ Color definitions ┃
   ┗━━━━━━━━━━━━━━━━━━━┛ */
:root {
    --mycolor-black:        #1e1e1e;
    --mycolor-red:          #ff5555;
    --mycolor-green:        #5ac2a8;
    --mycolor-yellow:       #f2b374;
    --mycolor-blue:         #6980fa;
    --mycolor-magenta:      #d098ff;
    --mycolor-cyan:         #8cceff; /*TODO Change to something darker*/
    --mycolor-white:        #92aab7;
    --mycolor-brblack:      #6b746b;
    --mycolor-brred:        #ff8c8c;
    --mycolor-brgreen:      #98eb98;
    --mycolor-bryellow:     #e0d97b;
    --mycolor-brblue:       #99a3ff;
    --mycolor-brmagenta:    #f298c3;
    --mycolor-brcyan:       #a6d9ff;
    --mycolor-brwhite:      #dddddd;
    --mycolor-extra1:       #333333;
}

/* ┏━━━━━━━━━━━━━┓
   ┃ Main window ┃
   ┗━━━━━━━━━━━━━┛ */

/* Mode indicator */
:root {
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size: var(--tridactyl-small-font-size);
    --tridactyl-status-bg: var(--tridactyl-bg);
    --tridactyl-status-fg: var(--mycolor-magenta);
    --tridactyl-status-border: 2px var(--mycolor-brblue) solid;
    --tridactyl-status-border-radius: 4px;
}

/* ┏━━━━━━━━━━━━━━━━━┓
   ┃ Tridactyl popup ┃
   ┗━━━━━━━━━━━━━━━━━┛ */

/* sectionHeader */
#completions .sectionHeader {
    background: var(--mycolor-brblue);
    color:      var(--mycolor-black);
}

/* Completion window */
:root {                                                  /* General window */
    --tridactyl-cmplt-option-height: 1.4em;
    --tridactyl-cmplt-fg: var(--tridactyl-fg);
    --tridactyl-cmplt-bg: var(--tridactyl-bg);
    --tridactyl-cmplt-font-size: 10pt;
    --tridactyl-cmplt-font-family: monospace;
    --tridactyl-cmplt-border-top: none;
}

.excmd {                                                /* Command names */
    color: var(--mycolor-brcyan);
    font-weight: bold;
}
.BufferCompletionOption .title {                        /* Tab browser */
    color: var(--mycolor-brcyan);
    font-weight: bold;
}
.focused * {                                            /* Active entry */        
    font-weight: bold;
    color: var(--mycolor-black);
}
.optionContainer .BufferCompletionOption.focused * {    /* Active entry */
    font-weight: bold;
    color: var(--mycolor-black);
}
#completions .BmarkCompletionOption .title {            /* :bmarks names */
    font-weight: bold;
    color: var(--mycolor-brcyan);
}
#completions .BmarkCompletionOption.focused * {         /* Active entry */
    font-weight: bold;
    color: var(--mycolor-black);
}

/* Command-line */
:root {
    --tridactyl-cmdl-bg: var(--mycolor-extra1);
    --tridactyl-cmdl-fg: var(--mycolor-brwhite);
    --tridactyl-cmdl-line-height: 1.5;
    --tridactyl-cmdl-font-family: monospace;
    --tridactyl-cmdl-font-size: 9pt;
}

/* Generic */
:root {
    --tridactyl-font-family: monospace;
    --tridactyl-font-family-sans: sans-serif;
    --tridactyl-font-size: 13pt;
    --tridactyl-small-font-size: 13px;
    --tridactyl-bg: var(--mycolor-black);
    --tridactyl-fg: var(--mycolor-brwhite);
    /*--tridactyl-logo: url("moz-extension://__MSG_@@extension_id__/static/logo/tridactyl_64px.png");*/
    --tridactyl-scrollbar-color: red;
    /* Search highlight */
    --tridactyl-search-highlight-color: var(--mycolor-bryellow);
}

/* ┏━━━━━━━━━┓
   ┃ Hinting ┃
   ┗━━━━━━━━━┛ */

:root {
    /* Hint character tags */
    --tridactyl-hintspan-font-family: var(--tridactyl-font-family-sans);
    --tridactyl-hintspan-font-size: var(--tridactyl-small-font-size);
    --tridactyl-hintspan-font-weight: bold;
    --tridactyl-hintspan-fg: var(--mycolor-black);
    --tridactyl-hintspan-bg: var(--mycolor-brblue);
    --tridactyl-hintspan-border-color: var(--mycolor-brblue);
    --tridactyl-hintspan-border-width: 0px;
    --tridactyl-hintspan-border-style: solid;
    --tridactyl-hintspan-js-background: var(--mycolor-brmagenta);

    /* Element highlights */
    --tridactyl-hint-active-fg: var(--tridactyl-fg);
    --tridactyl-hint-active-bg: var(--mycolor-magenta);
    --tridactyl-hint-active-outline: 1px solid var(--mycolor-blue);
    --tridactyl-hint-bg: rgba(var(--mycolor-magenta), 0.01) !important;
    --tridactyl-hint-outline: 1px solid var(--mycolor-blue);
}


/* ┏━━━━━━━━━━━━━━━━━┓
   ┃ Tridactyl pages ┃
   ┗━━━━━━━━━━━━━━━━━┛ */

#tridactyl-version-number {                             /* Start page title */
    color: var(--mycolor-magenta);
}
:root {
    /* :viewsource */
    --tridactyl-vs-bg: var(--tridactyl-bg);
    --tridactyl-vs-fg: var(--tridactyl-fg);
    --tridactyl-vs-font-family: var(--tridactyl-font-family);

    /*url style*/
    --tridactyl-url-text-decoration: none;
    --tridactyl-url-fg: var(--mycolor-magenta);
    --tridactyl-url-bg: var(--tridactyl-bg);
    --tridactyl-url-cursor: pointer;

    /*option focused*/
    --tridactyl-of-fg: var(--mycolor-black);
    --tridactyl-of-bg: var(--mycolor-yellow);
}

/* ┏━━━━━━━━━━━━━━━━━┓
   ┃ General Firefox ┃
   ┗━━━━━━━━━━━━━━━━━┛ */
a { color: var(--mycolor-brblue); }          /* Link color */
a:visited { color: var(--mycolor-brmagenta); }

/* ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
   ┃ Miscellaneous - not sure if they have any effect ┃
   ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛ */
:root {
    /*new tab spoiler box*/
    --tridactyl-highlight-box-bg: red;
    --tridactyl-highlight-box-fg: red;

    --tridactyl-container-color-blue:      var(--mycolor-brblue);
    --tridactyl-container-color-turquoise: var(--mycolor-green);
    --tridactyl-container-color-green:     var(--mycolor-brgreen);
    --tridactyl-container-color-yellow:    var(--mycolor-bryellow);
    --tridactyl-container-color-orange:    var(--mycolor-yellow);
    --tridactyl-container-color-red:       var(--mycolor-brred);
    --tridactyl-container-color-pink:      var(--mycolor-brmagenta);
    --tridactyl-container-color-purple:    var(--mycolor-magenta);
    --tridactyl-externaledit-bg: var(--tridactyl-logo) no-repeat center;
    --tridactyl-private-window-icon-url: url("chrome://browser/skin/privatebrowsing/private-browsing.svg");
    --tridactyl-container-fingerprint-url: url("resource://usercontext-content/fingerprint.svg");
    --tridactyl-container-briefcase-url: url("resource://usercontext-content/briefcase.svg");
    --tridactyl-container-dollar-url: url("resource://usercontext-content/dollar.svg");
    --tridactyl-container-cart-url: url("resource://usercontext-content/cart.svg");
    --tridactyl-container-circle-url: url("resource://usercontext-content/circle.svg");
    --tridactyl-container-gift-url: url("resource://usercontext-content/gift.svg");
    --tridactyl-container-vacation-url: url("resource://usercontext-content/vacation.svg");
    --tridactyl-container-food-url: url("resource://usercontext-content/food.svg");
    --tridactyl-container-fruit-url: url("resource://usercontext-content/fruit.svg");
    --tridactyl-container-pet-url: url("resource://usercontext-content/pet.svg");
    --tridactyl-container-tree-url: url("resource://usercontext-content/tree.svg");
    --tridactyl-container-chill-url: url("resource://usercontext-content/chill.svg");
}
